.header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--header-line);
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.header__logo {
    margin: 0;

    // @media screen and (min-width: 1200px) {

    //     margin-right: 93px;
    // }
}



.header__adress-list {

    font-size: 14;
    line-height: 1.17;
    color: var(--common-txtcolor);

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }
}

.header__adress-item:first-child {
    @media screen and (max-width:767px) {


        font-size: 34px;
        color: var(--accent-color);
    }
}

.header__adress-item:not(:last-child) {
    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
}

/* ****************************************** */




.header__adress-link {


    display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;
    color: inherit;
    // color: var(--common-txtcolor);
    transition: color var(--time-duration) var(--timing-function);

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        // padding-top: 32px;
        // padding-bottom: 32px;

        // color: var(--common-txtcolor);
        // transition: color var(--time-duration) var(--timing-function);
    }
}

.header .sotial-list {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.icon {
    @media screen and (min-width: 768px) {
        margin-right: 10px;
        fill: currentColor;
    }
}


.icon:hover {
    @media screen and (min-width: 768px) {
        fill: var(--accent-color);
    }
}