h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;

    object-fit: cover;
    object-position: center;

}


.link {

    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--accent-color);
        cursor: pointer;
    }
}


.list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}